In [1]:
'''
Python is a high level, dynamic, object oriented programming language
'''

Hello World!

In [4]:
x=10

In [5]:
x

10

In [6]:
type(x)

int

In [7]:
x="Rohit"

In [8]:
x

'Rohit'

In [9]:
type(x)

str

In [10]:
x=100.5

In [11]:
x

100.5

In [12]:
type(x)

float

In [13]:
x=True

In [14]:
x

True

In [15]:
type(x)

bool

In [16]:
x=False

In [17]:
x

False

In [18]:
type(x)

bool

In [19]:
x=None

In [20]:
x

In [25]:
type(x)

NoneType

In [26]:
company="Capgemini Technologies Ltd"

In [27]:
company

'Capgemini Technologies Ltd'

In [28]:
#Developed by Guido Van Rossum from Netherland , release on early 1990.

# CONTROL STATEMENT

In [ ]:
'''
syntax:
if condition:
    true statements
elif condition2:
    statemnts
else
    false statements
'''

In [38]:
x=100

if x==10:
    print("value of x is 10")
    print("condition is successful")
elif x==0:
    print("x is ZERO")
elif x==100:
    print("Its hundred!")
else:
    print("X is not 10")
    print("Thanks")

value of x is 10
condition is successful

# NESTED IF (IF WITHIN IF)

In [41]:
x=100
y=20

if x==10:
    if y==20:
        print("x is 10 and y is 20")
    else:
        print("x is 10 but y is not 20")
else:
    print("x is not 10")

x is not 10

# GET THE INPUT FROM USER DURING RUN TIME

In [44]:
country=input("Enter your country name:")   #input() retruns only strings
age=int(input("Enter your age:"))

print(type(country))
print(type(age))

Enter your country name:India
Enter your age:37
<class 'str'>
<class 'int'>

In [54]:
country=input("Enter your country name:")
age=int(input("Enter your age:"))

if country.casefold() == "india":
    if age >= 18:
        print("You can vote")
    else:
        print("You cannot vote")
else:
    print("Please follow {} country standards".format(country))

Enter your country name:USA
Enter your age:37
Please follow USA country standards

In [65]:
name="Rohit"
age=37

print(name,age)
print("Name:",name + " Age:",age)
print("Name and Age:",(name,age))
print("Name:{} and Age:{}".format(name,age))
print("Name:{1} and Age:{0}".format(age,name))
print("Name:{Name} and Age:{Age}".format(Name=name,Age=age))

Rohit 37
Name: Rohit Age: 37
Name and Age: ('Rohit', 37)
Name:Rohit and Age:37
Name:Rohit and Age:37
Name:Rohit and Age:37

In [66]:
city=['Chennai','Bangalore','Hyderabad','Mumbai','Pune','Kolkatta','Delhi']

In [67]:
city[0]

'Chennai'

In [68]:
city[1]

'Bangalore'

In [69]:
city[5]

'Kolkatta'

In [70]:
name="ROHIT"

In [71]:
name

'ROHIT'

# DIFF B/W ' , " , '''/"""

In [72]:
name="Rohit"

In [73]:
name

'Rohit'

In [74]:
city='mumbai'

In [75]:
city

'mumbai'

In [77]:
info='Started learning "PYTHON" programming'

In [78]:
print(info)

Started learning "PYTHON" programming

In [81]:
about_python="""Python is a high level, dynamic, procedurak and object oriented programming language
It was developed by GUIDO VAN ROSSUM
He is from NETHERLAND"""

In [82]:
print(about_python)

Python is a high level, dynamic, procedurak and object oriented programming language
It was developed by GUIDO VAN ROSSUM
He is from NETHERLAND

# COMMENTS IN PYTHON

In [84]:
#SINGLE LINE COMMENT WITH #
#hello

#MULTILINE COMMENTS WITH '''/"""
'''
I am Rohit
From India
Working as a Python trainer
'''

'\nI am Rohit\nFrom India\nWorking as a Python trainer\n'

# LOOPS

In [86]:
#while loop

x=0

while x<=10:
    print(x)
    x=x+1
else:
    print("Came out of the loop , value of the x is :",x)

0
1
2
3
4
5
6
7
8
9
10
Came out of the loop , value of the x is : 11

# break and continue

In [88]:
x=0

while x<=10:
    if x==5:
        break
    print(x)
    x=x+1
    
print("I am not part of the loop")
res=100*100
print("Product of 100*100=",res)

0
1
2
3
4
I am not part of the loop
Product of 100*100= 10000

In [89]:
x=0

while x<=10:
    x=x+1
    if x==5:
        continue
    print(x)   #1,2,3,4,6,7,8,9,10,11
    
    
print("I am not part of the loop")
res=100*100
print("Product of 100*100=",res)

1
2
3
4
6
7
8
9
10
11
I am not part of the loop
Product of 100*100= 10000

## FOR LOOP

In [90]:
'''
syntax:
for x in values:
    statements
'''

city=['Chennai','Bangalore','Hyderabad','Mumbai','Pune','Kolkatta','Delhi']

for x in city:
    print(x)

Chennai
Bangalore
Hyderabad
Mumbai
Pune
Kolkatta
Delhi

### range function

In [93]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [100]:
for x in range(1,11,3):   #step value  1,2,3,4,5,6,7,8,9,10
    print(x)

1
4
7
10

In [ ]:
'''
Data Structures:
    1.Immutable
        Numbers
        Strings
        Tuple
    2.Mutable
        List
        Dictionary
        Set
'''

# Numbers

In [101]:
'''
Arithmetic Operator
+ Addition
- Subraction
* Multiplication
/ Division
%  Modulus
** Exponent
// Floor Dicision

'''

'\nArithmetic Operator\n+ Addition\n- Subraction\n* Multiplication\n/ Division\n%  Modulus\n** Exponent\n// Floor Dicision\n\n'

In [102]:
x=10
y=20

In [103]:
x+y

30

In [104]:
x-y

-10

In [105]:
x*y

200

In [106]:
x/y

0.5

In [107]:
10%20

10

In [109]:
7%4

3

In [110]:
x**y

100000000000000000000

In [111]:
10**3

1000

In [112]:
10//20    #quotient value

0

In [113]:
11//2

5

In [114]:
11%2

1

## Assignment Operators

In [115]:
x=10

In [116]:
y=x

In [117]:
x

10

In [118]:
y

10

In [119]:
z=x+y

In [120]:
z

20

In [121]:
x=x+1

In [122]:
x

11

In [123]:
x+=1   # x=x+1

In [124]:
x

12

In [125]:
x-=1

In [126]:
x

11

## Comparision Operatos

In [127]:
x=10

In [128]:
x==10

True

In [129]:
x!=0

True

In [130]:
x>100

False

In [131]:
x<100

True

## Identity Operator

In [132]:
#is , is not

x

10

In [133]:
x is 10

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-133-d3b81c1d40cc>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  x is 10

True

In [134]:
x is not 0

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-134-bc1112d6cdc6>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  x is not 0

True

In [135]:
x is not 10

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-135-b53b54d78a61>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  x is not 10

False

## Membership Operator

In [136]:
#in , not in

In [137]:
city

['Chennai', 'Bangalore', 'Hyderabad', 'Mumbai', 'Pune', 'Kolkatta', 'Delhi']

In [138]:
'Kashmir' in city

False

In [139]:
'Bangalore' in city

True

In [140]:
'Bhuvaneshwar' not in city

True

## Bitwise Operator

In [141]:
# | ,  & , ^

In [142]:
7 | 5

7

In [143]:
7 & 5

5

In [144]:
7 ^ 5

2

In [145]:
5=10

SyntaxError: cannot assign to literal (<ipython-input-145-00ebb4922b9e>, line 1)

# STRING

In [146]:
tech="Python Programmings"

In [147]:
tech

'Python Programmings'

In [148]:
tech[0]

'P'

In [149]:
tech[1]

'y'

In [151]:
tech[18]

's'

In [152]:
tech[-1]

's'

In [153]:
tech[-2]

'g'

In [154]:
tech

'Python Programmings'

In [156]:
tech[0:6]

'Python'

In [158]:
tech[:6]

'Python'

In [157]:
tech[7:19]

'Programmings'

In [159]:
tech[7:]

'Programmings'

In [160]:
tech[:]

'Python Programmings'