# Shallow Copy and Deep Copy

In [13]:
import copy

nums=[1,2,[3,4],5]
nums_s=copy.copy(nums)   #Shallow Copy

In [14]:
nums

[1, 2, [3, 4], 5]

In [15]:
nums_s

[1, 2, [3, 4], 5]

In [17]:
nums.append(6)

In [18]:
nums

[1, 2, [3, 4], 5, 6]

In [19]:
nums_s

[1, 2, [3, 4], 5]

In [20]:
nums.remove(5)

In [21]:
nums

[1, 2, [3, 4], 6]

In [22]:
nums_s

[1, 2, [3, 4], 5]

In [23]:
nums_s.insert(2,2.5)

In [24]:
nums_s

[1, 2, 2.5, [3, 4], 5]

In [25]:
nums

[1, 2, [3, 4], 6]

In [27]:
nums[2].insert(1,3.5)

In [28]:
nums

[1, 2, [3, 3.5, 4], 6]

In [29]:
nums_s

[1, 2, 2.5, [3, 3.5, 4], 5]

In [32]:
nums=[1,2,[3,4],5]
nums_d=copy.deepcopy(nums)   #Deep Copy

In [33]:
nums

[1, 2, [3, 4], 5]

In [34]:
nums_d

[1, 2, [3, 4], 5]

In [35]:
nums.append(6)

In [36]:
nums

[1, 2, [3, 4], 5, 6]

In [37]:
nums_d

[1, 2, [3, 4], 5]

In [38]:
nums.remove(2)

In [39]:
nums

[1, [3, 4], 5, 6]

In [40]:
nums_d

[1, 2, [3, 4], 5]

In [42]:
nums_d.insert(2,2.5)

In [43]:
nums

[1, [3, 4], 5, 6]

In [44]:
nums_d

[1, 2, 2.5, [3, 4], 5]

In [45]:
nums

[1, [3, 4], 5, 6]

In [47]:
nums[1].insert(1,3.5)

In [48]:
nums

[1, [3, 3.5, 4], 5, 6]

In [49]:
nums_d

[1, 2, 2.5, [3, 4], 5]

In [50]:
x=[1,2,[3,4,5],6,7]

In [51]:
x

[1, 2, [3, 4, 5], 6, 7]

In [52]:
x_sc=copy.copy(x)

In [53]:
x

[1, 2, [3, 4, 5], 6, 7]

In [54]:
x_sc

[1, 2, [3, 4, 5], 6, 7]

In [55]:
x.extend([8,9,10])

In [56]:
x

[1, 2, [3, 4, 5], 6, 7, 8, 9, 10]

In [57]:
x_sc

[1, 2, [3, 4, 5], 6, 7]

In [59]:
x[2].remove(4)

In [60]:
x

[1, 2, [3, 5], 6, 7, 8, 9, 10]

In [61]:
x_sc

[1, 2, [3, 5], 6, 7]

In [62]:
#DEEP COPY

In [63]:
x=[1,2,[3,4,5],6,7]
x_dc=copy.deepcopy(x)

In [64]:
x

[1, 2, [3, 4, 5], 6, 7]

In [65]:
x_dc

[1, 2, [3, 4, 5], 6, 7]

In [67]:
x.append(100)

In [68]:
x

[1, 2, [3, 4, 5], 6, 7, 100]

In [69]:
x_dc

[1, 2, [3, 4, 5], 6, 7]

In [71]:
x[2].remove(4)

In [72]:
x

[1, 2, [3, 5], 6, 7, 100]

In [73]:
x_dc

[1, 2, [3, 4, 5], 6, 7]

In [75]:
number=list(range(1,11))

In [76]:
numbers

[1, 2, 3, 4, 7, 5, 10]

In [77]:
len(numbers)

7

In [78]:
min(numbers)

1

In [79]:
max(numbers)

10

In [80]:
sum(numbers)

32

In [81]:
numbers.append(11)

In [74]:
#============================LIST================OVER==============================

# TUPLE

In [86]:
numbers=(1,2,3,4,5)

In [87]:
type(numbers)

tuple

In [88]:
x=[1,2,3]

In [89]:
print(dir(x))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [90]:
print(dir(numbers))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [91]:
numbers=(1,2,3,4,5,1,2,3,4,5,1,2,1,2,3,2)

In [92]:
numbers.count(2)

5

In [93]:
numbers.index(3)

2

In [96]:
numbers.insert(5)

AttributeError: 'tuple' object has no attribute 'insert'

In [ ]:
months_of_years=('jan','feb','mar','apr','may')

In [ ]:
'''
TUPLE IS MUCH MUCH BETTER THAN LIST
Because
Tuples consumes LESS MEMORY than list
Tuple process the elements MUCH FASTER than list
'''

In [97]:
import sys

x_list=[1,2,3,4,5,6,7,8,9,10]
x_tuple=(1,2,3,4,5,6,7,8,9,10)

print("LIST SIZE IS :" , sys.getsizeof(x_list))
print("TUPLE SIZE IS:" , sys.getsizeof(x_tuple))

LIST SIZE IS : 136
TUPLE SIZE IS: 120

In [ ]:
mb
gb
tb
pb
eb (exa byte)
zb (zetta byte)
yb (yotta byte)

In [98]:
import timeit

print("LIST TOOK :",timeit.timeit(stmt="[1,2,3,4,5,6,7,8,9,10]",number=1000000)*1000)
print("TUPLE TOOK :",timeit.timeit(stmt="(1,2,3,4,5,6,7,8,9,10)",number=1000000)*1000)

LIST TOOK : 86.60229999986768
TUPLE TOOK : 7.257300000219402

# DICTIONARY

In [99]:
'''key value pairs of elements
each elements has a key:value
it is unordered array
key must be unique, cant be duplicated'''

'key value pairs of elements\neach elements has a key:value\nit is unordered array'

In [100]:
info={'name':'rohit','county':'india','location':'bangalore','exp':20,'salary':1000}

In [101]:
type(info)

dict

In [102]:
info['name']

'rohit'

In [103]:
info['exp']

20

In [106]:
info['county']

'india'

In [107]:
info['manager']

KeyError: 'manager'

In [120]:
#get and setdefault

info.get('manager','Not available')

'Not available'

In [121]:
print(info)

{'name': 'rohit', 'county': 'india', 'location': 'bangalore', 'exp': 20, 'salary': 1000}

In [125]:
info.setdefault('manger','Aveek Mirshra')

'Aveek Mirshra'

In [126]:
print(info)

{'name': 'rohit', 'county': 'india', 'location': 'bangalore', 'exp': 20, 'salary': 1000, 'manger': 'Aveek Mirshra'}

In [127]:
info['email']='rohittech0305@gmail.com'

In [128]:
info['tech']=['Python','AIML','Spark','AWS','DevOps']

In [129]:
print(info)

{'name': 'rohit', 'county': 'india', 'location': 'bangalore', 'exp': 20, 'salary': 1000, 'manger': 'Aveek Mirshra', 'email': 'rohittech0305@gmail.com', 'tech': ['Python', 'AIML', 'Spark', 'AWS', 'DevOps']}

In [130]:
info['location']='Pune'

In [131]:
print(info)

{'name': 'rohit', 'county': 'india', 'location': 'Pune', 'exp': 20, 'salary': 1000, 'manger': 'Aveek Mirshra', 'email': 'rohittech0305@gmail.com', 'tech': ['Python', 'AIML', 'Spark', 'AWS', 'DevOps']}

In [133]:
info['salary']=2000

In [134]:
print(info)

{'name': 'rohit', 'county': 'india', 'location': 'Pune', 'exp': 20, 'salary': 2000, 'manger': 'Aveek Mirshra', 'email': 'rohittech0305@gmail.com', 'tech': ['Python', 'AIML', 'Spark', 'AWS', 'DevOps']}

In [135]:
info.update({'location':'hyderabad','salary':3000,'county':'Singapore','profession':'Trainer','fav_food':'spicy'})

In [136]:
print(info)

{'name': 'rohit', 'county': 'Singapore', 'location': 'hyderabad', 'exp': 20, 'salary': 3000, 'manger': 'Aveek Mirshra', 'email': 'rohittech0305@gmail.com', 'tech': ['Python', 'AIML', 'Spark', 'AWS', 'DevOps'], 'profession': 'Trainer', 'fav_food': 'spicy'}

In [137]:
#keys, values, items

In [138]:
info.keys()

dict_keys(['name', 'county', 'location', 'exp', 'salary', 'manger', 'email', 'tech', 'profession', 'fav_food'])

In [139]:
info.values()

dict_values(['rohit', 'Singapore', 'hyderabad', 20, 3000, 'Aveek Mirshra', 'rohittech0305@gmail.com', ['Python', 'AIML', 'Spark', 'AWS', 'DevOps'], 'Trainer', 'spicy'])

In [140]:
info.items()

dict_items([('name', 'rohit'), ('county', 'Singapore'), ('location', 'hyderabad'), ('exp', 20), ('salary', 3000), ('manger', 'Aveek Mirshra'), ('email', 'rohittech0305@gmail.com'), ('tech', ['Python', 'AIML', 'Spark', 'AWS', 'DevOps']), ('profession', 'Trainer'), ('fav_food', 'spicy')])

In [144]:
for x in info.keys():
    print(x + " ===> " + str(info[x]))

name ===> rohit
county ===> Singapore
location ===> hyderabad
exp ===> 20
salary ===> 3000
manger ===> Aveek Mirshra
email ===> rohittech0305@gmail.com
tech ===> ['Python', 'AIML', 'Spark', 'AWS', 'DevOps']
profession ===> Trainer
fav_food ===> spicy

In [145]:
for k,v in info.items():
    print(k + " ----> "+str(v))

name ----> rohit
county ----> Singapore
location ----> hyderabad
exp ----> 20
salary ----> 3000
manger ----> Aveek Mirshra
email ----> rohittech0305@gmail.com
tech ----> ['Python', 'AIML', 'Spark', 'AWS', 'DevOps']
profession ----> Trainer
fav_food ----> spicy

In [147]:
del info['county']

In [148]:
print(info)

{'name': 'rohit', 'location': 'hyderabad', 'exp': 20, 'salary': 3000, 'manger': 'Aveek Mirshra', 'email': 'rohittech0305@gmail.com', 'tech': ['Python', 'AIML', 'Spark', 'AWS', 'DevOps'], 'profession': 'Trainer', 'fav_food': 'spicy'}

In [149]:
info.pop('exp')

20

In [150]:
print(info)

{'name': 'rohit', 'location': 'hyderabad', 'salary': 3000, 'manger': 'Aveek Mirshra', 'email': 'rohittech0305@gmail.com', 'tech': ['Python', 'AIML', 'Spark', 'AWS', 'DevOps'], 'profession': 'Trainer', 'fav_food': 'spicy'}

In [151]:
print(dir(info))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [153]:
print(info)

{'name': 'rohit', 'location': 'hyderabad', 'salary': 3000, 'manger': 'Aveek Mirshra', 'email': 'rohittech0305@gmail.com', 'tech': ['Python', 'AIML', 'Spark', 'AWS', 'DevOps'], 'profession': 'Trainer', 'fav_food': 'spicy'}

In [154]:
info.popitem()

('fav_food', 'spicy')

In [155]:
print(info)

{'name': 'rohit', 'location': 'hyderabad', 'salary': 3000, 'manger': 'Aveek Mirshra', 'email': 'rohittech0305@gmail.com', 'tech': ['Python', 'AIML', 'Spark', 'AWS', 'DevOps'], 'profession': 'Trainer'}

In [156]:
info.popitem()

('profession', 'Trainer')

In [157]:
print(info)

{'name': 'rohit', 'location': 'hyderabad', 'salary': 3000, 'manger': 'Aveek Mirshra', 'email': 'rohittech0305@gmail.com', 'tech': ['Python', 'AIML', 'Spark', 'AWS', 'DevOps']}

In [158]:
info.clear()

In [159]:
info

{}

In [175]:
emp_info=['name','exp','tech','location','manager','designation','salary']

emp_1=dict.fromkeys(emp_info)
emp_2=dict.fromkeys(emp_info)
emp_3=dict.fromkeys(emp_info)
emp_4=dict.fromkeys(emp_info)
emp_5=dict.fromkeys(emp_info)

In [176]:
emp_1

{'name': None,
 'exp': None,
 'tech': None,
 'location': None,
 'manager': None,
 'designation': None,
 'salary': None}

In [163]:
print(emp_2)

{'name': None, 'exp': None, 'tech': None, 'location': None, 'manager': None, 'designation': None, 'salary': None}

In [164]:
print(emp_3)

{'name': None, 'exp': None, 'tech': None, 'location': None, 'manager': None, 'designation': None, 'salary': None}

# SET

In [ ]:
'''
set stores only unique values (duplicate values are not stored)
stores the values in an ascending order
'''

In [ ]:
[]
()
{} -> key:value  =>DICTIONARY
{} -> x,y,z    => SET

In [177]:
odds={1,3,5,7,9}
even={2,4,6,8,10}
prime={1,3,5,7}
composite={2,3,5,6,7,8}

In [189]:
odds.union(even)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [190]:
even.union(odds)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [191]:
odds.intersection(composite)

{3, 5, 7}

In [193]:
odds.difference(composite)

{1, 9}

In [194]:
composite.difference(odds)

{2, 6, 8}

In [195]:
(odds.difference(composite)).union(composite.difference(odds))

{1, 2, 6, 8, 9}

In [196]:
odds.symmetric_difference(composite)

{1, 2, 6, 8, 9}

In [178]:
type(odds)

set

In [179]:
sample={1,2,3,2,3,2,3,2,3,55,44,22,44,11,3,6,5,37,77,65,100,100,100,120,200,150,7,8,9,10}

In [180]:
sample

{1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 22, 37, 44, 55, 65, 77, 100, 120, 150, 200}

In [181]:
sample.add(1000)

In [183]:
print(sample)

{1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 22, 150, 37, 44, 55, 65, 200, 77, 100, 1000, 120}

In [187]:
sample.add(11)

In [188]:
print(sample)

{1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 22, 150, 37, 44, 55, 65, 200, 77, 100, 1000, 120}

# LIST COMPREHENSION

In [ ]:
'''
Syntax:

[expr for val in collections/sequence]
[expr for val in collections/sequence if cond]
[expr for val in collections/sequence if cond1 and cond2]
[expr for val in collections/sequence for val2 in c2/s2]
'''

In [199]:
nums=[1,2,3,4,5,6,7,8,9,10]

[val*10 for val in nums]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [204]:
[val for val in nums if val%2==0]

[2, 4, 6, 8, 10]

In [206]:
[val for val in nums if val%2==0 and val>5]

[6, 8, 10]

In [208]:
print([3.14*val*val for val in nums])

[3.14, 12.56, 28.259999999999998, 50.24, 78.5, 113.03999999999999, 153.86, 200.96, 254.34, 314.0]

In [209]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]

[(x,y) for x in list1 for y in list2]

[(1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (1, 10),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (2, 10),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (3, 10),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (4, 10),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (5, 10)]

In [210]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]

[x+y for x,y in zip(list1,list2)]

[7, 9, 11, 13, 15]

In [ ]:
# FUCNTION ( DEFINITIONS )
'''
ex, 10 lins of code and i want to perform the same opration at 100 places. then we nees to 10*100=>1000
duplication of the code
single changes needs to be made in all 100 places

IF WE GO WITH FUNCTION, WE CREATE A FUNTION AND CALL THE FUNCTION FROM WHEREVER NEEDED(100)
CHNAGES, ONLY IN FUNCTION DEFINITION IF I MAKE THE CHNAGES IT WILL BE APPLICABLE FOR ALL THE PLACES IT IS GETTING  CALLED
'''

In [211]:
def add_nums(x,y):
    res=x+y
    return res

In [212]:
add_nums(10,20)

30

In [213]:
add_nums(10)

TypeError: add_nums() missing 1 required positional argument: 'y'

In [214]:
def add_nums(x,y=0):  #Default variable
    res=x+y
    return res

In [215]:
add_nums(10,20)

30

In [216]:
add_nums(10)

10

In [217]:
add_nums(10,20,30)

TypeError: add_nums() takes from 1 to 2 positional arguments but 3 were given

In [229]:
def add_nums(x,*y):  #*y=tuple of elements ()
    res=x+sum(y)
    return res

In [231]:
add_nums(10)

10

In [240]:
add_nums(10,20)

30

In [241]:
add_nums(10,20,30)

60

In [242]:
add_nums(10,20,30,40,50,60,70,80,90,100)

550

In [243]:
add_nums()

TypeError: add_nums() missing 1 required positional argument: 'x'

In [244]:
def add_nums(*y):  #*y=tuple of elements ()
    res=sum(y)
    return res

In [245]:
add_nums()

0

In [246]:
add_nums(10)

10

In [247]:
add_nums(10,20)

30

In [248]:
add_nums(10,20,30,40,50)

150

In [255]:
def info(**x):
    print("TRAINER DETAILS:")
    print("==================")
    for x,y in x.items():
        print(x+":"+str(y))

In [256]:
info(name="Rohit",company="Capgemini",city="Bangalore",exp=20)

TRAINER DETAILS:
==================
name:Rohit
company:Capgemini
city:Bangalore
exp:20

In [263]:
def calc_tax(sal):
    '''calc_tax function is to calculate the tax based on the salary. This fucntion should be called with salary amount'''
    if sal < 500000:
        tax=12500
    elif sal > 500000 and sal < 1000000:
        tax=sal*.2
    else:
        tax=sal*.3
    
    return tax

In [264]:
calc_tax.__doc__

'calc_tax function is to calculate the tax based on the salary. This fucntion should be called with salary amount'

In [265]:
calc_tax(10000000)

3000000.0

In [260]:
calc_tax(300000)

12500

In [261]:
calc_tax(700000)

140000.0

In [262]:
calc_tax(3000000)

900000.0

In [266]:
# Scope of the variable

In [270]:
#global and lexical/local

age=37

def myfunction():
    age=100   #local
    print("Age inside the funtion is :", age)  #100
    
print("Age before calling the function:",age)  #37
myfunction()
print("Age after calling the function:",age)  #37

Age before calling the function: 37
Age inside the funtion is : 100
Age after calling the function: 37

In [271]:
#global and lexical/local

age=37

def myfunction():
    global age   #taking the control on global variable
    age=100   #local
    print("Age inside the funtion is :", age)  #100
    
print("Age before calling the function:",age)  #37
myfunction()
print("Age after calling the function:",age)  #100

Age before calling the function: 37
Age inside the funtion is : 100
Age after calling the function: 100

In [269]:
#global and lexical/local

age=37

def myfunction():
    print("Age inside the funtion is :", age)  
    
print("Age before calling the function:",age)  
myfunction()
print("Age after calling the function:",age)

Age before calling the function: 37
Age inside the funtion is : 37
Age after calling the function: 37

In [ ]:
1. funtion to get min and max value  : myfunc(2,55,3,4,77,555,666,111,11)
2. Write a function for factorial calc: factorial(5)

In [272]:
def find_min(*x):
    return min(x)

In [273]:
find_min(55,33,77,2321,457,433245,4,6,3,2,65768,4545653)

2

In [274]:
def find_max(*x):
    return max(x)

In [275]:
find_max(55,33,77,2321,457,433245,4,6,3,2,65768,4545653)

4545653

In [2]:
def factorial(x):
    if x==0:
        return 1
    else:
        return x*factorial(x-1)   # 5*4*3*2*1

In [4]:
factorial(3)

6

# SPECIAL FUNCTIONS

In [5]:
#lambda - anonymous function , one line function, function created with using def keywork, no name for this function

In [11]:
#syntax: lambda input: expr

(lambda x,y : x if x>y else y)(50,100)

100

In [9]:
def findbig(x,y):
    if x>y:
        return x
    else:
        return y

In [10]:
findbig(50,100)

100

In [12]:
findbignum=lambda x,y : x if x>y else y

In [13]:
findbignum(11,45)

45

In [14]:
findbignum(424,5524)

5524

In [15]:
findbignum(32,324)

324

In [16]:
(lambda x,y:(x+y,x-y,x*y,x/y))(10,5)

(15, 5, 50, 2.0)

# MAP FUCNTION

In [19]:
nums=list(range(1,11))

list(map(lambda x:x**2, [1,2,3,4,5,6,7,8,9,10]))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
def factorial(x):
    if x==0:
        return 1
    else:
        return x*factorial(x-1)   # 5*4*3*2*1

In [21]:
list(map(factorial, [1,2,3,4,5,6,7,8,9,10]))

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

# FILTER FUNCTION

In [29]:
list(filter(lambda x: x>0,[1,2,3,4,5,6,7,8,9,10]))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# REDUCE FUNTION

In [28]:
import functools

functools.reduce(lambda x,y:x*y,[1,2,3,4,5,6,7,8,9,10])

3628800

In [32]:
list(filter(lambda x: x>0,[1,2,3,4,5,6,7,8,9,10]))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
functools.reduce(lambda x,y:x+y, [1,2,3,4,5])

15

In [ ]:
print(x,)